<div class="container">
    <div class="back-link" routerLink="/">
        <mat-icon>arrow_back</mat-icon> {{ label.voltar | translate}}
    </div>
    <h2>{{ label.agenda | translate}}</h2>
    <!-- *ngIf="userPermissions && userPermissions.isValid()"  -->
    <div class="form-container">
        <div class="form-group row">
            <div class="row">
                <div class="col-sm-8">
                    <label for="name">{{ label.nome | translate}}</label>
                    <input type="text" id="name" name="name" [(ngModel)]="schedule.name"
                        class="my-custom-form-control form-control">
                </div>
                <div class="col-sm-2">
                    <label for="startTime">{{ label.horario_inicial | translate}}</label>
                    <input type="time" id="startTime" name="startTime" [(ngModel)]="schedule.startTime"
                        class="my-custom-form-control form-control">
                </div>
                <div class="col-sm-2">
                    <label for="endTime">{{ label.horario_final | translate}}</label>
                    <input type="time" id="endTime" name="endTime" [(ngModel)]="schedule.endTime"
                        class="my-custom-form-control form-control">
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12">
                <button type="button" (click)="save()" class="btn btn-primary btn-block w-100 text-center">{{
                    label.adicionar_agenda | translate}}</button>
            </div>
        </div>
    </div>
    <div class="table-responsive pt-3">
        <table class="table table-bordered schedule-table">
            <thead>
                <tr>
                    <th class="col-7">{{ label.nome | translate}}</th>
                    <th class="col-1 text-center">{{ label.horario_inicial | translate}}</th>
                    <th class="col-1 text-center">{{ label.horario_final | translate}}</th>
                    <th class="col-3 text-center">{{ label.acoes | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedules">
                    <td *ngIf="editSchedule != schedule.id" class="col-7">{{ schedule.name }}</td>
                    <td *ngIf="editSchedule != schedule.id" class="col-1">
                        {{ schedule.startTime }}
                    </td>
                    <td *ngIf="editSchedule != schedule.id" class="col-1">
                        {{ schedule.endTime }}
                    </td>
                    <td *ngIf="editSchedule == schedule.id" class="col-7"> <input type="text" id="name" name="name"
                            [(ngModel)]="schedule.name" class="my-custom-form-control form-control"></td>
                    <td *ngIf="editSchedule == schedule.id" class="col-1"> <input type="time" id="startTime"
                            name="startTime" [(ngModel)]="schedule.startTime"
                            class="my-custom-form-control form-control"></td>
                    <td *ngIf="editSchedule == schedule.id" class="col-1"><input type="time" id="endTime" name="endTime"
                            [(ngModel)]="schedule.endTime" class="my-custom-form-control form-control"></td>
                    <td *ngIf="editSchedule != schedule.id" class="col-3 text-center  action-icons align-middle">
                        <button mat-icon-button color="primary" (click)="listSessionsByScheduleId(schedule)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <!-- *ngIf="schedule.ownerId === userId" -->
                        <button mat-icon-button color="accent" (click)="listMembersByScheduleId(schedule)">
                            <mat-icon>group</mat-icon>
                        </button>
                        <!-- *ngIf="schedule.ownerId === userId" -->
                        <button mat-icon-button color="primary" (click)="edit(schedule.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <!-- *ngIf="schedule.ownerId === userId"  -->
                        <button mat-icon-button color="warn" (click)="deleted(schedule)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="editSchedule == schedule.id" class="col-3 text-center  action-icons align-middle">
                        <button mat-icon-button color="warn" (click)="update(schedule)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>