<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Redefinição de senha</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="new-password">Senha</label>
            <div class="password-input">
              <input id="password" type={{typeButtom}} name="password" placeholder="Insira a nova senha"  [(ngModel)]="changePassword.newPassword"  class="my-custom-form-control" />
              <span class="password-toggle" (click)="togglePasswordVisibility()">
                <i class="fas fa-eye space" *ngIf="!showPassword"></i>
                <i class="fas fa-eye-slash space" *ngIf="showPassword"></i>
              </span>
              <p class="small-text">Senha 8 e 12 caracteres, pelo menos 1 letra maiúscula, 1 minúscula, 1 símbolo e 1 número.
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirme sua senha</label>
            <div class="password-input">
              <input  type={{typeConfirmButtom}} id="password" name="password" class="my-custom-form-control" [(ngModel)]="passwordConfirm" required />
            <span class="password-toggle" (click)="toggleConfirmPasswordVisibility()">
              <i class="fas fa-eye space" *ngIf="!showConfirmPassword"></i>
              <i class="fas fa-eye-slash space" *ngIf="showConfirmPassword"></i>
            </span>
            <p class="small-text">Senha 8 e 12 caracteres, pelo menos 1 letra maiúscula, 1 minúscula, 1 símbolo e 1 número.
            </p>
            </div>
          </div>
          <button type="button" (click)="resetPassword()" class="my-custom-ok-button">Redefinir a senha</button>
        </div>
        <div class="card-footer text-center">
          <div class="small">
            <a href="#" routerLink="/login" class="back-link">Voltar para o menu inicial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>