<div class="container-fluid vh-100 d-flex p-0">
  <div class="col-md-1"></div>
  <div class="col-md-5 d-flex flex-column justify-content-center bg-white p-5">
    <img src="./assets/planorama.png" alt="Logo" class="mb-4" style="width: 80px; height: 80px;">
    <h1 class="heading-h1">Planorama</h1>
    <p class="subtitle">{{label.recuperar_senha | translate}}</p>
    <p>{{ label.digite_senha_description | translate }}</p>
    <form class="w-75 mt-4">
      <div class="form-group">
        <app-password [title]=" label.senha | translate" [id]="'newPassword'" [placeholder]="''"
          (passwordChange)="changePassword.newPassword = $event"></app-password>
      </div>
      <div class="form-group mt-4">
        <app-password [title]=" label.confirmar_senha | translate " [id]="'confirmPassword'"
          [placeholder]="label.confirmar_senha | translate" (passwordChange)="passwordConfirm = $event"></app-password>
      </div>
      <button type="button" (click)="resetPassword()" class="btn btn-primary btn-block w-100 text-center mt-4">{{
        label.redefinir_senha | translate }}</button>
    </form>
    <div class="d-flex justify-content-center mt-4">
      <a routerLink="/login" class="body-16-medium">{{ label.voltar_inicio | translate }}</a>
    </div>
  </div>
  <div class="col-md-6 d-none d-md-block bg-primary d-flex justify-content-end align-items-center">
    <img src="./assets/home.png" alt="Imagem" style="max-width: 100%; max-height: 100%;" class="ml-auto">
  </div>
</div>