<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Redefinição de senha</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="new-password">Senha</label>
            <div class="password-input">
              <input type="password" id="new-password" name="new-password" class="my-custom-form-control"
                placeholder="Insira a nova senha">
            </div>
            <p class="password-hint">Senha de 8 a 12 caracteres com 1 letra maiúscula, 1 minúscula, 1 símbolo e 1 número.</p>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirme sua senha</label>
            <div class="password-input">
              <input type="password" id="confirm-password" name="confirm-password" class="my-custom-form-control"
                placeholder="Insira a senha novamente">
            </div>
          </div>
          <button type="button" (click)="resetPassword()" class="my-custom-ok-button">Redefinir a senha</button>
        </div>
        <div class="card-footer text-center">
          <div class="small">
            <a href="#" routerLink="/login" class="back-link">Voltar para o menu inicial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>