<div class="container">
    <div class="back-link" routerLink="/schedule"> <mat-icon>arrow_back</mat-icon> Voltar</div>
    <div class="form-container">
        <h2>{{ schedule.name}}</h2>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="nickname">Nome:</label>
                <input type="text" id="nickname" name="nickname"  [(ngModel)]="member.nickname" class="my-custom-form-control form-control" required>
            </div>
            <div class="col-sm-4">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="my-custom-form-control form-control" [(ngModel)]="member.email" required>
            </div>
            <div class="col-sm-2">
                <app-phone [id]="'phone'" [changePhone]="member.phone" (phoneChange)="member.phone = $event" required></app-phone>
            </div>
            <div class="col-sm-2">
                <label for="type">Permissão:</label>
                <select id="type" name="type" class="my-custom-form-control form-control"  [(ngModel)]="member.type" required>
                    <option value="EDITOR">Editor</option>
                    <option value="VIEWER">Visualizador</option>
                </select>
            </div>
        </div>
        <button type="button" (click)="save()" class="my-custom-ok-button">Adicionar Membro</button>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table schedule-table">
            <thead>
                <tr>
                    <th class="col-4">Nome</th>
                    <th class="col-3">Email</th>
                    <th class="col-2">Telefone</th>
                    <th class="col-2">Permissão</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                    <td class="col-4 action-icons">{{ member.member.nickname }}</td>
                    <td class="col-3 action-icons">{{ member.member.email }}</td>
                    <td class="col-2 action-icons">{{ member.member.phone }}</td>
                    <td class="col-2 action-icons">
                        <select id="type" name="type" class="my-custom-form-control form-control action-icons"
                            [value]="member.member.type" disabled>
                            <option value="CREATOR">Criador</option>
                            <option value="EDITOR">Editor</option>
                            <option value="VIEWER">Visualizador</option>
                        </select>
                    </td>
                    <td class="col-1 text-center action-icons align-middle">
                        <button *ngIf="memberSchedule.type !== 'VIEWER'" mat-icon-button color="warn" (click)="deletarMembro(member)">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>