<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <div class="d-flex align-items-center ms-auto">
            <button mat-icon-button aria-label="Notificações" (click)="toggleNotifications()">
                <mat-icon>notifications_outline</mat-icon>
            </button>
            <div *ngIf="showNotifications" class="notification-dropdown">
                <div class="notification-header">
                    <button class="tab-button" [class.active]="activeTab === 'read'" (click)="setActiveTab('read')">{{ label.lidas | translate}}</button>
                    <button class="tab-button" [class.active]="activeTab === 'unread'" (click)="setActiveTab('unread')">{{ label.nao_lidas | translate}}</button>
                </div>
                <div class="notification-list">
                    <div *ngFor="let notification of getNotifications()" class="notification-item">
                        <div class="notification-icon">
                            <img src="assets/planorama.png" alt="Notificações" class="notification-icon-img" />
                        </div>
                        <div class="notification-content">
                            <h4>{{ notification.title }}</h4>
                            <p>{{ notification.message }}</p>
                            <span class="notification-time">{{ notification.time }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <button mat-button [matMenuTriggerFor]="userMenu">
                <span class="greeting me-1">{{label.ola | translate }},</span>
           <span class="username">{{ name }}</span>  
                <mat-icon>|</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="profile()">
                    <mat-icon>person</mat-icon> 
                    <span class="me-2">{{label.meus_dados | translate }}</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon> 
                    <span class="me-2">{{ label.sair | translate}}</span>
                </button>
            </mat-menu>
        </div>
    </div>
</nav>
