.ls {
   display: flex;
   justify-content: center;
}

.flex {
   margin-top: 0.5rem;
   border: 1px solid rgb(161, 159, 159);
   padding: 0.5rem 10%;
   border-radius: 2rem;
}

.profile-image {
   width: 50px; 
   margin-right: 20px ;
}

.username {
   font-weight: bold;
}
