:host {
  display: flex;
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
}

p {
  margin: 0 0 10px 0;
  font-size: 0.9em;
  color: #666;
  text-align: center;
}


.message-list {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 50px;
  background-color: #f9f9f9;
}

.message-list div {
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;

}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.api-message {
  align-self: flex-start;
  background-color: #fff;
  border: 1px solid #ccc;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.message-input button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}