<div class="fixed-width-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="my-custom-modal-header">
        <div class="header-content">
            <h5 class="my-custom-modal-title">Agendamentos {{date| date: 'dd/MM/yyyy'}}</h5>
            <button type="button" class="my-custom-close-button" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div *ngIf="memberSchedule?.type == 'CREATOR'" class="container mb-2">
        <div class="form-group row mt-2">
            <div class="col-6">
                <label for="name">Título:</label>
                <input type="text" id="title" name="title" [(ngModel)]="sessionRequest.title"
                    class="my-custom-form-control form-control">
            </div>
            <div class="col-3">
                <label for="nome">Inicio</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="sessionRequest.startTime" id="startTime"
                    name="startTime">
            </div>
            <div class="col-3">
                <label for="nome">Fim</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="sessionRequest.endTime" id="endTime"
                    name="endTime">
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-3">
                <label for="nome">Legenda</label>
                <select class="form-control" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="sessionRequest.legendId">
                    <option *ngFor="let legend of legends" [ngValue]="legend.id">{{ legend.description }}</option>
                </select>
            </div>
            <div class="col-9">
                <label for="nome">Descrição</label>
                <input type="text" class="form-control" [(ngModel)]="sessionRequest.description" id="description"
                    name="description" />
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-12">
                <label for="days">Seleção de Dias (Segunda a Domingo):</label>
                <div id="days" class="d-flex flex-wrap">
                    <div *ngFor="let day of daysOfWeeks" class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" [id]="day.value" [value]="day.value"
                            (change)="onDayChange($event)">
                        <label class="form-check-label" [for]="day.value">{{ day.label }}</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="my-custom-ok-button" (click)="addEvent()">Registrar Horário</button>
    </div>
    <div class="container">
        <table class="table table-bordered schedule-table">
            <thead>
                <tr>
                    <th class="col-2">Título</th>
                    <th class="col-1">Inicio</th>
                    <th class="col-1">Fim</th>
                    <th class="col-1">Cor</th>
                    <th class="col-5">Descrição</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td class="col-2">{{event.title}}</td>
                    <td class="col-1">
                        {{event.start| date: 'HH:mm:ss'}}
                    </td>
                    <td class="col-1">
                        {{event.end | date: 'HH:mm:ss' }}
                    </td>
                    <td class="col-1" [style.background]="event.color.primary">
                    </td>
                    <td *ngIf="sessionIdEdit != event.id" class="col-5">
                        {{event.description}}
                    </td>
                    <td *ngIf="sessionIdEdit == event.id" class="col-5">
                        <input type="text" class="form-control" [(ngModel)]="event.description" id="description"
                            name="description" />
                    </td>
                    <td class="col-1">
                        <button *ngIf="sessionIdEdit != event.id && memberSchedule.type != 'VIEWER'" mat-icon-button color="primary"
                            (click)="edit(event)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="sessionIdEdit != event.id && memberSchedule.type == 'CREATOR'" mat-icon-button color="warn"
                            (click)="deleted(event)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button  *ngIf="sessionIdEdit == event.id" mat-icon-button color="warn" (click)="editDescription(event)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>


    <!-- <div class="my-custom-modal-footer">
</div> -->

</div>