.my-custom-modal-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-custom-modal-title {
  font-size: 1.25rem;
  margin: 0;
}

.my-custom-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0 10px;
  cursor: pointer;
}

.my-custom-ok-button {
  width: calc(100% - 20px);
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.my-custom-ok-button:hover {
  opacity: 0.8;
}

.fixed-width-modal {
  width: 1000px; 
}

.dropdown {
  position: relative;
  width: 100%; 
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; 
  background: white; 
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1; 
}

.color-circle {
  display: inline-block;
  width: 16px; 
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.btn-light {
  background-color: white !important; 
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.text-start {
  text-align: start;
}

.legend-description {
  display: inline-block; 
  max-width: calc(100% - 35px); 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  vertical-align: middle; 
}

.small-text {
  font-size: 11px;
  line-height: 1.0;
}