.my-custom-modal-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-custom-modal-title {
  font-size: 1.25rem;
  margin: 0;
}

.my-custom-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0 10px;
  cursor: pointer;
}

.my-custom-ok-button {
  width: calc(100% - 20px);
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.my-custom-ok-button:hover {
  opacity: 0.8;
}

.fixed-width-modal {
  width: 1400px; 
}