<h2 mat-dialog-title>{{ label.termos_de_uso| translate }}</h2>
<mat-dialog-content>
  <p><strong>{{ label.termos_aceitacao | translate }}</strong></p>
  <p>{{ label.termos_aceitacao_description | translate }}</p>

  <br />

  <p><strong>{{ label.termos_privacidade | translate }}</strong></p>
  <p>{{ label.termos_privacidade_description | translate }}</p>

  <br />

  <p><strong>{{ label.termos_responsabilidade | translate }}</strong></p>
  <p>{{ label.termos_responsabilidade_description | translate }}</p>

  <br />

  <p><strong>{{ label.termos_propriedade_intelectual | translate }}</strong></p>
  <p>{{ label.termos_propriedade_intelectual_description | translate }}</p>

  <br />

  <p><strong>{{ label.termos_restricoes | translate }}</strong></p>
  <p>{{ label.termos_restricoes_description | translate }}</p>

  <br />

  <p><strong>{{ label.termos_modificacoes | translate }}</strong></p>
  <p>{{ label.termos_modificacoes_description | translate }}</p>

  <br />

  <p><strong>{{ label.termos_rescisao | translate }}</strong></p>
  <p>{{ label.termos_rescisao_description | translate }}</p>
</mat-dialog-content>
