<div class="container-fluid vh-100 d-flex p-0">
  <div class="col-md-1"></div>
  <div class="col-md-4 d-flex flex-column justify-content-center bg-white p-5">
    <img src="./assets/planorama.png" alt="Logo" class="mb-4" style="width: 80px; height: 80px;">
    <h1 class="heading-h1">Planorama</h1>
    <p class="subtitle">Recuperação de senha</p>
    <p >Digite o e-mail associado à sua conta para recuperar sua senha.</p>
    <form class="w-75 mt-4">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" class="form-control" placeholder="Digite seu e-mail" [(ngModel)]="recover.email">
      </div>
      <button type="button" (click)="recoverPassword()" class="btn btn-primary btn-block w-100 text-center mt-4">Continuar</button>
    </form>
    <div class="d-flex justify-content-center mt-4">
      <a routerLink="/login" class="body-16-medium">Voltar para o menu inicial</a>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6 d-none d-md-block bg-primary d-flex justify-content-end align-items-center">
    <img src="./assets/home.png" alt="Imagem" style="max-width: 100%; max-height: 100%;" class="ml-auto">
  </div>
</div>
