<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agenda para Hoje</h5>
                    <ul class="list-group">
                        <li *ngFor="let horario of horariosOcupados" class="list-group-item">{{ horario.evento }} - {{
                            horario.horarioInicial }} às {{ horario.horarioFinal }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Horários Disponíveis</h5>
                    <ul class="list-group">
                        <li *ngFor="let horario of horariosVagos" class="list-group-item">{{ horario.horarioInicial }}
                            às {{ horario.horarioFinal }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>