<div class="form-group">
  <label [for]="id">{{ title }}</label>
  <div class="password-input">
    <input [id]="id" [type]="typeButton" [name]="id" [placeholder]="placeholder" [(ngModel)]="changePassword" class="my-custom-form-control" />
    <span class="password-toggle" (click)="togglePasswordVisibility()">
      <i class="fas fa-eye space" *ngIf="!showPassword"></i>
      <i class="fas fa-eye-slash space" *ngIf="showPassword"></i>
    </span>
    <p  class="small-text">
      Senha 8 e 12 caracteres, pelo menos 1 letra maiúscula, 1 minúscula, 1 símbolo e 1 número.
    </p>
  </div>
</div>