.my-custom-form-control {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 8px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}

.space {
  padding-right: 25px;
  padding-bottom: 30px;
}


.small-text {
  font-size: 11px;
  line-height: 1.0;
}