
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">liberbox</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">E-mail:</label>
              <input id="email" type="email" name="email"  class="my-custom-form-control" placeholder="Digite seu email" [(ngModel)]="login.email" />
            </div>
            <app-password [title]="'Senha:'" [id]="'password'"  [placeholder]="'Digite sua senha'"
              (passwordChange)="login.password = $event"></app-password>
          </form>
          <div class="row">
            <div class="form-group">
              <mat-checkbox class="mat-primary" [(ngModel)]="acceptedTerms" required>Eu aceito os 
                <button type="button" class="terms-button" (click)="openTermsModal()">termos de uso</button>.
              </mat-checkbox>
            </div>
          </div>
          <button type="button" (click)="enter()" class="full-width mat-elevation-z4 my-custom-ok-button">Entrar</button>
          <button type="button" (click)="register()" class="full-width mat-elevation-z4 my-custom-ok-button">Não possui usuário. Cadastre-se!</button>
        </div>
        <div class="card-footer text-center">
          <div class="small">
            <a routerLink="/recover-password" href="#" class="full-width mat-elevation-z4">Esqueceu a senha?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>