<div class="my-custom-form-container ls">
  <div class="right-space">
    <form >
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" class="my-custom-form-control">
      </div>
  
      <div class="form-group">
        <label for="password">Senha:</label>
        <div class="password-input">
          <input type="password" id="password" name="password" class="my-custom-form-control">
          <span class="password-toggle" (click)="togglePasswordVisibility()">
            <i class="fas fa-eye" *ngIf="!showPassword"></i>
            <i class="fas fa-eye-slash" *ngIf="showPassword"></i>
          </span>
        </div>
      </div>        
  
      <button type="button" (click)="login()" class="full-width mat-elevation-z4 my-custom-ok-button">Entrar</button>
      <a routerLink="/recover-password" href="#" class="full-width mat-elevation-z4">Esqueceu a senha?</a>
      <button type="button" (click)="register()" class="full-width mat-elevation-z4 my-custom-ok-button">Criar nova conta</button>
    </form>
  </div>
</div>
