.modal-dialog {
  max-width: 800px;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  background-color: #f8f9fa; 
}

.modal-title {
  margin: 0;
  font-size: large;
}

.close {
  color: #007bff;
  opacity: 1;
}

.color-options {
  margin: 1rem 0; 
}

.color-radio {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.color-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 5px; 
}

.modal-body {
  padding: 20px; 
}
