.modal-dialog {
  max-width: 800px;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
  background-color: #f8f9fa; 
}

.modal-title {
  margin: 0;
  font-size: large;
}

.close {
  color: #007bff;
  opacity: 1;
}

.color-options {
  margin: 1rem 0; 
}

.color-radio {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.color-circle {
  width: 50px;
  height: 24px;
  border-radius: 20%;
  border: 1px solid #ccc;
  margin-right: 5px; 
}

.modal-body {
  padding: 20px; 
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.legend-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  height: 100%;
}

.legend-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.legend-header {
  padding: 16px;
  color: black;
  font-size: 1.1rem;
  text-align: center;

}

.legend-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #fafafa;
  height: 100%;
}

.delete-button {
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
}


