<div class="container mt-4">
    <div class="back-link" routerLink="/">
        <mat-icon>arrow_back</mat-icon> {{ label.voltar | translate}}
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{{ label.legenda | translate }}</h2>
        <button type="button" class="btn btn-primary" (click)="openLegendDialog()">{{label.nova_legenda | translate}}
        </button>
    </div>
    <div class="row">
        <div *ngFor="let legend of legends" class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="legend-card">
                <div class="legend-header" [style.background]="legend.color">
                    <span class="legend-title">{{ legend.description }}</span>
                </div>
                <div class="legend-content">
                    <button mat-icon-button class="delete-button" (click)="deleted(legend)" title="Deletar">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #legendDialog>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-3">
                <h5 class="modal-title">{{ label.nova_legenda | translate }}</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="legendForm">
                    <div class="form-group">
                        <label for="description">{{ label.legenda | translate}} </label>
                        <input id="description" type="text" name="description" class="form-control"
                            placeholder="{{ label.legenda | translate }}" formControlName="description"
                            [(ngModel)]="legend.description">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <label for="description">{{ label.selecionar_cor | translate }} </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" *ngFor="let color of colors">
                            <div class="form-check m-2">
                                <input class="form-check-input" type="radio" [value]="color.hex" formControlName="color"
                                    [(ngModel)]="legend.color" id="{{color.name}}">
                                <label class="form-check-label d-flex align-items-center" [for]="color.name">
                                    <span class="color-circle me-2" [style.background]="color.hex"></span>
                                    {{ color.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="saveLegend()" class="btn btn-primary mt-3">{{ label.salvar_legenda |
                        translate }}</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>