<div class="container">
    <div class="form-container">
        <h2>Legendas</h2>
        <div class="form-group row">
            <div class="col-1">
                <label for="color">Cor:</label>
                <input type="color" id="color" name="color" [(ngModel)]="novaLegenda.color">
            </div>
            <div class="col-11">
                <label for="description">Descrição:</label>
                <input type="text" id="description" name="description" class="my-custom-form-control form-control" [(ngModel)]="novaLegenda.description">
            </div>
        </div>

        <button type="button" (click)="adicionarLegenda()" class="my-custom-ok-button">Adicionar Legenda</button>
    </div>
    <div class="list-container">
        <table class="table table-bordered legend-table">
            <thead>
                <tr>
                    <th class="col-1">Cor</th>
                    <th class="col-8">Descrição</th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let legenda of legendas">
                    <td class="col-1" [style.background]="legenda.color"></td>
                    <td class="col-5">{{ legenda.description }}</td>
                    <td class="col-2 text-center align-middle">
                        <button mat-icon-button color="primary" (click)="editarLegenda(legenda)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deletarLegenda(legenda)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
