.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.toast {
    border-radius: 8px;
    padding: 0.75rem 1.25rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0.95;
    font-size: 0.9rem;
    min-width: 300px;
    animation: slide-out 15s forwards; 
}

.toast-body {
    text-align: center;
    font-weight: 500;
}

.bg-success {
    background-color: #06b32e !important; 
    color: #fff !important; 
}

.bg-error {
    background-color: #e23b4b !important; 
    color: #fff !important; 
}

.toast div {
    white-space: pre-line; 
}


@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    80% {
        opacity: 1;
        transform: translateX(100vw); 
    }
    100% {
        opacity: 0;
        transform: translateX(100vw); 
    }
}