<mat-drawer-container class="ls" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <mat-list-item>
                <button mat-button routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Início</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/legend">
                    <mat-icon>brush</mat-icon>
                    <span>Legenda</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/session">
                    <mat-icon>event</mat-icon>
                    <span>Sessão</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/schedule">
                    <mat-icon>list</mat-icon>
                    <span>Agenda</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/profile">
                    <mat-icon>person</mat-icon>
                    <span>Perfil</span>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sair</span>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button class="menu" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>