<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
      <h2>Perfil</h2>
      <div class="form-group">
        <label for="email">{{ label.email | translate }} </label>
        <input type="email" id="email" name="email" class="my-custom-form-control" [(ngModel)]="useSession.getUser().email" required
          disabled />
      </div>
      <div class="form-group">
        <label for="nickname">{{ label.apelido | translate }}</label>
        <input type="text" id="nickname" name="nickname" class="my-custom-form-control"
          [(ngModel)]="useSession.getUser().nickname" required disabled/>
      </div>
      <div class="form-group">
        <label for="nickname">{{ label.nome | translate }}</label>
        <input type="text" id="nickname" name="nickname" class="my-custom-form-control"
          required/>
      </div>
      <div class="form-group">
        <label for="nickname">{{ label.sobrenome | translate }}</label>
        <input type="text" id="nickname" name="nickname" class="my-custom-form-control"
          required/>
      </div>
      <app-phone [id]="'phone'" [changePhone]="phone" (phoneChange)="phone = $event"
        required></app-phone>
      <button type="submit" class="my-custom-ok-button mt-3" >{{ label.alterar_dados | translate }}</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>