@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
    height: 100%;
}

.subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.body-16-regular {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.body-16-medium {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #0D469B !important;
}

.bg-primary {
    background-color: #0D469B !important;
}

.text-primary {
    color: #0D469B !important;
}

.heading-h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    text-align: left;
}

.notification-dialog .mat-dialog-container {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.back-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #007bff;
}

.back-link:hover {
    text-decoration: underline;
}

.back-link mat-icon {
    margin-right: 4px;
}

.custom-modal-class .mat-dialog-container {
    padding: 0;
    border-radius: 0;
    height: 100%;
    overflow: hidden;
  }
  