.my-custom-form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.my-custom-ok-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.my-custom-back-button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.my-custom-ok-button:hover {
    background-color: #0056b3;
}

.my-custom-back-button:hover {
    background-color: #5a6268;
}

.terms-button {
    background: none;
    border: none;
    color: #007bff; 
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: inherit; 
    font-family: inherit; 
  }
  
  .terms-button:hover {
    text-decoration: none;
  }
  
  .terms-button:focus {
    outline: none; 
  }
  