<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Cadastro</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="my-custom-form-control" [(ngModel)]="user.email"
              required />
          </div>
          <div class="form-group">
            <label for="nickname">Nome:</label>
            <input type="text" id="nickname" name="nickname" class="my-custom-form-control" [(ngModel)]="user.nickname"
              required />
          </div>
          <app-phone [id]="'phone'" [changePhone]="user.phone" (phoneChange)="user.phone = $event" required></app-phone>
          <app-password [title]="'Senha:'" [id]="'password'"  (passwordChange)="user.password = $event"></app-password>
          <app-password [title]="'Confirme sua senha:'" [id]="'password'"  (passwordChange)="passwordConfirm = $event"></app-password>
          <div class="row">
            <div class="form-group">
              <mat-checkbox class="mat-primary mb-3" [(ngModel)]="acceptedTerms" name="acceptedTerms" required>
                Eu aceito os 
                <button type="button" class="terms-button" (click)="openTermsModal()">termos de uso</button>.
              </mat-checkbox>
            </div>            
          </div>
          <div class="form-group buttons-container">
            <button type="button" class="my-custom-back-button" (click)="toGoBack()">Voltar</button>
            <button type="submit" class="my-custom-ok-button" (click)="onSubmit()">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>