.my-custom-form-container {
    max-width: 400px;
    margin: auto;
    /* Centraliza horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 10vh;
    /* Espaçamento do topo em relação à altura da tela */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}


.my-custom-form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.my-custom-ok-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.my-custom-back-button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.my-custom-ok-button:hover {
    background-color: #218838;
}

.my-custom-back-button:hover {
    background-color: #5a6268;
}